<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jlj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BDAC8EC01BEF911C0077217E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDAC8ED91BEF911C0077217E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDAC8EE41BEF911C0077217E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
